# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
venv/
ENV/

# Firebase
access_firebase.json
.firebase/
firebase-debug.log
.firebaserc
firebase-debug.*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
*.mp4
*.json
!requirements.txt
temp/
processed_*/ 